{% extends "layout.html" %}

{% block title %}: Finished{% endblock %}

{% block main %}
<div>
    <h4>Tournament ended!</h4>
</div>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Points</th>
    </tr>
    </thead>
    <tbody>
    {% for player in players %}
    <tr>
        <th scope="row">{{ loop.index }}</th>
        <td>{{ player.name }}</td>
        <td>{{ player.points }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<form method="GET" action="/stop">
      <button type="submit" id="buttonOrange" class="btn btn-secondary">Start a new tournament</button>
</form>

{% endblock %}